/*--------- NUIT/JOUR ---------*/
.sidebar {
    z-index: 9;
    background: var(--bg3);
    position: fixed;
    height: 68px;
    width: 30px;
    border-radius: 4px;
    bottom: 50%;
    right: 10px;
    display: flex;
}

.sidebar_bottom {
    width: 45px;
    z-index: 999;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar_bottom > a {
    color: var(--purewhite);
    padding: 5px 8px;
    border-radius: 5px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .color-scheme-toggle .dark {
        display: none
    }
}

@media (prefers-color-scheme: light) {
    .color-scheme-toggle .light {
        display: none
    }
}

.color-scheme-toggle, [data-color-scheme="light"] .color-scheme-toggle .dark, [data-color-scheme="dark"] .color-scheme-toggle .light {
    display: block;
    width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark, [data-color-scheme="light"] .color-scheme-toggle .light {
    display: none
}

.color-scheme-toggle {
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    border-radius: 10px;
    display: block;
    padding: 0px!important;
    margin-left: 15px;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100px;
    border: 0px solid;
}

.color-scheme-toggle i {
    background: transparent; 
    font-size: 25px!important;
}

.color-scheme-toggle i:hover {
    background: transparent;
}

.color-scheme-toggle:hover {
    background: var(--bg3);
}

/* ----------- EDITION DE PROFIL ---------- */
#tabs ul {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    margin: 150px 10px 10px 10px;
    font-size: var(--size4);
    text-transform: uppercase;
}

#tabs ul a {
    color: var(--purewhite);
    background: var(--bg3);
    border-radius: 4px;
    padding: 2px 10px;
}

#tabs li {
    border: 1px solid transparent;
}

#tabs li.activetab {
    border: var(--border);
    border-radius: 5px;
}

div#tabs li:nth-child(5) {
    display: none;
}

.profil_preferences dl, .profil_editavatar dl {
    grid-template-columns: 40% auto;
}

.profil_preferences .italic {
    font-size: var(--size3);
}

#parent_editor_simple > #smiley-box {
    float: left;
    font-size: var(--size3);
}

#parent_editor_simple #message-box {
    margin-left: 240px;
}

#parent_editor_simple #message-box > br {
    display: none
}

#parent_editor_simple #message-box > #textarea_content {
    width: 100% !important;
}

.panel.row2.sig {
    text-align: center;
    margin-top: 10px;
}

/* ----------- PAGE DE RECHERCHE---------- */
.post_search {
    display: flex;
    border-radius: 5px;
    margin: 10px 0;
    background: var(--bg2);
    flex-direction: column;
}

.post_search > div {
    padding: 10px;
}

.postsearch_infos {
    display:flex;
    color:var(--text2);
    background:var(--bg3);
    border-right: var(--color2);
    padding-left:10px!important;
}
.postsearch_infos a{
    margin-right:10px;
}
.postsearch_infos span{
    margin-right:4px;
}
.postsearch_content h3{
    text-align:center;
    margin-bottom:25px;
    background:var(--bg3);
    line-height:65px;
    text-transform:uppercase;
    padding-bottom:0px;
}

/* ----------- PAGE DE CONNEXION ---------- */
form[name=form_login], form[name=form_login] ~ .panel {
    text-align: center;
}

form[name=form_login] .content {
    display: grid;
    justify-content: center;
    justify-items: center;
}

/* ----------- ELEMENT FLOTTANTS ---------- */
.overview {
    background: var(--neutral);
    border-radius: 5px;
    border: var(--border);
    padding: 10px;
    position: fixed !important;
    top: 50% !important;
}

.overview button[type="submit"] {
    width: 26px;
    height: 26px;
    margin-left: 5px;
}

.overview div {
    margin-bottom: 5px
}

.overview a {
    float: right;
}

#find_username {
    display: none;
    position: fixed;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    top: 50%;
    margin-top: -125px;
    background-color: var(--neutral);
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
}

/* ----------- ENVOIE ET EDITION MESSAGE ---------- */
.message-edition {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#preview {
    font-size: 0px;
}

hr {
    border: 1px solid var(--bg2);
}

#sujreview {
    width: 1020px;
}

#ttreview {
    font-size: 0px;
}

#sujreviewbloc {
    padding: 1px 0px;
    margin: 20px 0px;
    min-height: 200px;
    background: var(--transp2);
    backdrop-filter: blur(2px);
    border-radius: 4px;
}

#sujreviewbloc .content {
    margin: 10px;
    padding:20px 0px;
    min-height: 200px;
}

#sujreviewauthor {
    margin-bottom: 20px;
    text-align: right;
    font-size: var(--size3);
    font-style: italic;
}

#postingbox h3 {
    font-size: 0px;
}

#postingbox input {
    width: 300px;
    background: var(--bg2);
}

.postbody .h3 {
    font-size: 0px;
}

.mobile-visible {
    display: flex;
    width: 450px;
    font-size: 10px;
}

.mobile-visible div {
    width: 200px;
}

.mobile-visible .lastpost-infos {
    display: none;
}

.mobile-visible .lastpost-infos img {
    display: none;
}

/* ----------- FICHES ---------- */
.SOB_post {
    width: 648px;
    background: var(--bg3);
    margin: auto;
    color: var(--text2);
    padding-bottom: 1px;
    border-radius: 4px;
}

.SOB_post a::after {
    font-size: 12px;
    content: '\ebca';
    font-family: var(--font4);
    margin-left: 5px;
}

.SOB_post a {
    font-weight: bolder;
    padding: 0px 4px;
}

.SOB_post a:hover {
    background: var(--bg2);
    border-radius: 4px;
}

.SOB_grad {
    content: '';
    display: block;
    position: relative;
    height: 180px;
    margin-bottom: -180px;
    border-radius: 4px 4px 0px 0px;
    z-index: 1;
    opacity: 0.4;
}

.SOB_toptitre {
    position: relative;
    top: -2px;
       background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    font-family: var(--font2);
    display: flex;
    font-size: 25px!important;
    flex-direction: column;
    align-items: center;
}

.SOB_topsstitre {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: var(--font3);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px!important;
}

.SOB_bottom, .SOB_bottom2 {
    color: var(--text2);
    font-size: var(--size3)!important;
    display: block;
    background: var(--bg2);
    border-radius: 4px;
    outline: 1px solid var(--bg3);
    outline-offset: 5px;
    position: relative;
    z-index: 2;
    margin: 20px;
    text-align: justify;
    padding: 10px;
}
.SOB_bottom span{
    display: grid;
    grid-column-gap: 8px;
    line-height: 15px;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    grid-template-columns: 10px minmax(75%, 30%) max-content auto;
    width: 100%;
    margin-bottom: -15px;
}
.SOB_bottom span a:after{
    display:none;
}
.SOB_bottom blockquote {
    color: var(--text2);
    background: var(--bg3);
    padding: 20px;
    border-radius: 4px;
}

blockquote2{
    display:block;
    border-left:1px solid var(--color2);
    padding:0px 0px 0px 20px;
}
blockquote2::before{
    content:'\ebfa';
    font-family:var(--font4);
    margin-right:7px;
    color:var(--color2)
}


.cp-warning-o:before {
    color: var(--color3);
}

.cp-info:before {
    color: var(--color1);
}

.SOB_top {
    color: var(--text1);
    display: flex;
    flex-wrap: wrap;
    background: var(--bg3);
    border-radius: 4px;
    outline: 1px solid var(--bg3);
    outline-offset: 5px;
    position: relative;
    z-index: 2;
    margin: 20px;
    padding: 10px;
}

/* ----------- CARDS ---------- */
.SOB_cardbloc {
    display: flex;
    flex-wrap: wrap;
}

.SOB_card {
    margin: 7px;
    display: block;
    width: 280px;
    background: rgb(185 185 185 / 8%);
    border-radius: 10px;
    height: 269px;
}

.SOB_card h1 {
    margin: 0px;
    font-size: 20px;
    font-family: var(--font2);
    text-transform: lowercase;
    color: #fff;
    font-weight: lighter;
    text-align:right;
    padding: 0px 20px 0px 0px;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.SOB_card img {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    background: #fff;
    margin-left: 10px;
    border-radius: 100%;
    padding: 5px;
    margin-top: -40px;
}

.SOB_card span {
    display: block;
    text-align: justify;
    height: 200px;
    width: 280px;
    padding: 0px 10px 20px 10px;
    overflow: auto;
    margin-top: 20px;
}

.SOB_img2 {
    width: 50px!important;
    height: 50px!important;
    object-fit: cover;
    margin-left: 0px!important;
    border-radius: 4px!important;
    padding: 0px!important;
    margin-top: 4px!important;
}

/* ----------- BBCODES ---------- */
sob1 {
    font-family: var(--font2);
    text-transform: lowercase;
    font-size: 15px;
    display: grid;
    background: -webkit-linear-gradient(45deg, var(--bg3), var(--transp2));
    border-bottom: 1px solid var(--color1);
    color: var(--text1);
    padding:6px 10px;
    border-radius:4px 4px 0px 0px;
}

sob2 {
    display: flex;
    font-family: var(--font3);
    text-transform:uppercase;
    font-size: 10px;
    font-weight: 900;
    border-left: 1px solid var(--color2);
    padding: 0px 10px;
    align-items: center;
    margin-bottom: 5px;
}

sob3 {
    line-height: 25px;
    font-weight: bolder;
    background: var(--bg3);
    padding: 0px 4px;
    border-radius: 4px;
}
sob3 i{
    font-size:9px!important;
    margin-right:5px;
}
sob4 {
    background: var(--bg3);
    border-radius: 4px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: var(--size4);
    font-weight: 900;
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    width:100%;
    transition: var(--allease)
}

sob4:hover {
    filter: brightness(1.1);
    transition: var(--allease)
}

sob5 {
    font-family: var(--font3);
    font-size: 10px;
    background: var(--bg3);
    padding:0px 10px;
    border-radius:4px;
    line-height:19px;
    text-transform: uppercase;
    font-weight: 900;
}

sob6 {
    background: -webkit-linear-gradient(190deg, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-family: var(--font3);
    font-size: 14px;
    font-weight: bolder;
    border-left: 1px solid var(--color2);
    padding: 0px 10px;
    align-items: center;
}

.SOB_img {
    width: 150px;
    height: 56px;
    object-fit: cover;
    position: relative;
    filter: grayscale(1) contrast(1.4) brightness(0.4);
    border-radius: 10px;
}

u2 {
    font-size: 14px;
    padding: 0px 2px;
    text-decoration: none;
    box-shadow: inset 0px -1px 0px var(--color2);
    transition: 1s;
}

.container:hover u2 {
    box-shadow: inset 0 -18px 0 var(--color2);
    color: #fff
}

b {
    font-size: 14px;
    font-family: var(--font3);
    color: var(--color2);
    font-weight: 900;
}

i{
    font-size: 14px!important;
    line-height:18px!important;
    font-family: var(--font3);
}

i1{
    font-size: 14px!important;
    line-height:18px!important;
    font-family: var(--font3);
    background: -webkit-linear-gradient(55deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:900;
    font-style:italic;
}

i2{
    font-style:italic;
    color:var(--color2);
}

u{
    text-underline-offset:3px;
}

sob7{
    font-family:var(--font6);
    font-size:16px;
}
sob8{
    font-family:var(--font6);
    font-size:16px;
    color:var(--color2);
    font-weight:900;
}
sob9{
 font-family:var(--font6);
    font-size:16px;
    color:var(--color2);
    font-style:italic;
    font-weight:900;  
}
sob10{
 font-family:var(--font6);
    font-size:16px;
    font-style:italic;
}
sob11{
    background: -webkit-linear-gradient(55deg, var(--color1), var(--color2), var(--color3));
    padding:0px 8px;
    border-radius:4px;
    text-transform:uppercase;
    font-size:12px;
    font-weight:900;
    color:#fff;
}
sob12{
    background: -webkit-linear-gradient(55deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius:4px;
    font-size:12px;
}
sob13{
    background: -webkit-linear-gradient(55deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius:4px;
    font-size:14px;
    font-weight:900;
}
sob14{
    border-radius:4px;
    font-size:12px;
    outline:1px solid var(--color2);
    padding:0px 4px;
}
tw{
    background:var(--bg5);
    color:var(--bg5);
    border-radius:4px;
    padding: 0px 4px;
     transition:1s;
}
tw:hover{
    background:transparent;
    color:var(--text2);
}

/* ----------- PROFIL DES MEMBRES ---------- */
.SOB_prof {
    margin:auto;
    width:1020px;
    background: var(--bg3);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.SOB_profbloc1 {
    background: var(--bg2);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.SOB_profpsd {
    font-family: var(--font2);
    font-size: 30px;
    margin-right: 50px;
    margin-top: -5px;
}
usr{
    margin-top:20px;
    display:block;
    height:20px!important;
}
.SOB_profimg img {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.SOB_profbloc2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.SOB_prof_g {
    border-radius: 4px;
    width: 770px;
    height: 400px;
    background: var(--bg2);
    padding: 15px 50px;
}

.SOB_prof_g .tabs .tab {
    width: 120px;
    display: inline-block;
    cursor: pointer
}

.SOB_prof_d {
    display: flex;
    height: 400px;
    border-radius: 4px;
    margin-left: 10px;
    background: var(--bg2);
    padding: 10px;
    width: 220px;
    flex-direction: column;
}

.SOB_prof_d div {
    margin: 0px 0px 10px 0px;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: var(--size4);
    font-weight: bold;
}

.SOB_prof_d div a {
    color: var(--purewhite)
}

#avatar_membre img {
    border-radius: 6px;
    margin-bottom: 5px;
}

.SOB_profperso, .SOB_profcontact, .SOB_profhrp {
    background: var(--bg3);
    padding: 5px;
    display: block;
    color:var(--text2);
    height: 273px;
    overflow: auto;
    border-radius:0px 10px 10px 10px;
}

.SOB_prof_g dl {
    height: fit-content
}

.SOB_prof_g dt {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    width: fit-content;
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.SOB_prof_g dt:before{
    content:'\ea8d';
    margin-right:5px;
    font-family:var(--font4);
    font-size:8px;
    font-weight:100
}
.SOB_profperso dl:not(#field_id17):not(#field_id15):not(#field_id1):not(#field_id4):not(#field_id6):not(#field_id16):not(#field_id9) {
    display: none;
}

.SOB_profcontact dl:not(#field_id18):not(#field_id11):not(#field_id10) {
    display: none;
}

.SOB_profhrp dl:not(#field_id8):not(#field_id-4):not(#field_id2):not(#field_id5):not(#field_id7):not(#field_id14) {
    display: none;
}

#list_awards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.award {
    width: 40px;
    height: 40px;
    position: relative;
    background-image: var(--award-image);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    pointer: cursor;
}

.award_tooltiptext {
    width: max-content;
    display: none;
    position: absolute;
    top: 25%;
    left: 25px;
    background-color: var(--bg2);
    font-family: var(--font3);
    border: 1px solid var(--bg2);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 11px;
}

.award_tooltiptext_title {
    font-weight: bolder;
    font-family: var(--font3)
}

.SOB_prof_g .tab {
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    margin-right: 10px;
    padding: 2px 14px;
    border-radius: 4px 4px 0px 0px;
    text-transform: uppercase;
    font-size: var(--size4);
    color:#fff;
    font-weight: bolder;
}

.SOB_prof_g .tab:hover {
    background: var(--bg3);
    color:var(--purewhite);
}

#field_id16 dt {
    display: none;
}

.SOB_prof_g .content {
    border-radius: 0px 10x 10px 10px;
}

.SOB_profimg dl:not(#field_id12) {
    display: none
}

.SOB_profimg dl {
    height: 80px;
    padding: 0px;
    margin: 0px;
}

.SOB_profdollars dl:not(#field_id-13) {
    display: none
}

.SOB_profmessages dl:not(#field_id-6) {
    display: none
}

.SOB_profpseudo dl:not(#field_id3) {
    display: none
}

.SOB_proffc dl:not(#field_id-8) {
    display: none
}

.SOB_prof_gb {
    margin-left: -10px;
    display: flex;
    height: 70px;
    width: 670px;
    margin-left:0px;
    margin-top: 5px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.SOB_prof_gb dl {
    width: 135px;
}

.SOB_prof_gb dd {
    width: 135px;
    text-align: center;

}

.SOB_profdollars, .SOB_profmessages, .SOB_profpseudo, .SOB_proffc {
    text-align: center;
    font-family: var(--font2);
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:16px;
    font-weight:700;
}

.SOB_profdollars dl, .SOB_profmessages dl, .SOB_profpseudo dl, .SOB_proffc dl {
    font-family: var(--font3);
    margin-top: 0px;    font-weight:500;
    background: -webkit-linear-gradient(190deg, var(--purewhite), var(--purewhite));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SOB_profbloc1 strong {
    font-size:25px;
    position:relative;
    top:-10px;
    font-family:var(--font2);
    text-transform: lowercase;
    font-weight: 100!important;
}

rnk {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    display: block;
    font-family: var(--font3);
    font-size: 10px;
    text-align:right;
    text-transform: uppercase;
    font-weight: 900;
}

rnk img {
    height: 0px;
    width: 0px;
}

.SOB_prof_contact {
    border-radius: 0px!important;
}

.SOB_prof_contact div {
    position: relative;
    height: fit-content;
    color:#fff;
    font-size:var(--size3);
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
}

.SOB_lastseen {
    width: fit-content;
    position: relative;
    font-size: var(--size3);
    font-style: italic;
    color: var(--text2);
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
}
.SOB_lastseen:before{
    content:'\ea00';
    font-family:var(--font4);
    font-style:normal;
    margin-right:5px;
}
.SOB_profcntact {
    position: absolute;
    left:100px;
    display: flex;
    font-size: var(--size4);
    text-transform: uppercase;
}

.SOB_profcntact a {
    padding: 0px 4px;
    border-radius: 2px;
    margin: 0px 5px;
    background: var(--bg3);
    font-weight: 900
}

a[href*="/profile?mode=email&u=1"] {
    display: none;
}

.SOB_bottom span.SOBdirectorycont {
    display: none;
}

.SOB_bottom input {
    display: none;
}

.SOB_bottom input:checked + span.SOBdirectorycont {
    display: block;
}

.SOB_directory {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.SOB_directory label.directory {
    color: var(--purewhite);
    font-size: var(--size3);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2px 2px;
    text-align: center;
    background: var(--bg3);
    cursor: pointer;
    transition:1s;
}

.SOB_directory label.directory:hover {
    background: var(--color2);
    color:#fff;
}

/*----- PRES -----*/
.SOB_presonglet span.sobongletcont {
    display: none;
}

.SOB_presonglet input {
    display: none;
}

.SOB_presonglet input:checked + span.sobongletcont {
    display: block;
}

.SOB_presonglet label.sobonglet {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    position: relative;
    top: 8px;
    left: 53px;
    border-radius: 100%;
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    color: white;
    position: relative;
    margin: 0 4px;
    cursor: pointer;
}
.SOB_presonglet label.sobonglet i{
    font-size:10px!important;
}
.SOB_presonglet label.sobonglet:hover {
    background: var(--bg2);
}

span.sobongletcont {
    width: 598px;
    margin: 0px 0px;
    border-radius: 10px;
    outline: 1px solid var(--bg2);
}

.SOB_presblc {
    display: flex;
    padding: 10px 10px;
}

.SOB_presblc span {
    background: var(--bg2);
    width: 100%;
    height: 320px;
    padding: 20px;
    border-radius: 4px;
    overflow: auto;
    margin: 10px;
    font-family: var(--font3);
    color: var(--text2);
    font-size: var(--size2);
    text-align:justify;
}
.SOB_presblc hr {
    border-radius: 2px;
    outline: 0.1px solid var(--bg3);
    margin-top: 25px;
}
.SOB_pres {
    margin: auto;
    padding: 20px;
    display: block;
    width: 639px;
    background: var(--bg3);
    outline: 1px solid var(--bg3);
    outline-offset: 5px;
    border-radius: 4px;
}

.SOB_prestop {
    display: flex;
}

.SOB_prestop1 {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid var(--color2);
    padding: 0px 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius:0px!important;
}

.SOB_prestop1 h1 {
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font2);
    font-weight: lighter;
    font-size: 22px;
    margin-top: -10px;
    font-style: italic;
    padding: 0px;
    display: flex;
    width: 600px;
    text-transform: lowercase;
}

.SOB_prestop1 h2 {
    font-family: var(--font3);
    text-transform: uppercase;
    font-size: 10px;
    margin-top: -20px;
    font-weight:900;
    color: var(--text2);
}

tw2 {
    display: flex;
    background: var(--transp2);
    overflow: auto;
    border-radius: 4px;
    width:fit-content;
    max-width: 250px;
    overflow:auto;
    height:40px;
    padding: 4px 10px;
    position: relative;
    top: -70px;
    margin-bottom: -40px;
    right: -350px;
    opacity: 0;
    transition: 1s;
    color: var(--text2);

}
tw2::before{
    content:'\ecfd';
    font-family:var(--font4);
    color:var(--color3);
    margin-right:10px;
}
.SOB_pres:hover tw2 {
    opacity: 1;
    transition: 1s
}

.SOB_prestopimg img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    object-fit:cover;
}
.SOB_prestopimg::before {
    content: "";
    width: 100px;
    height: 100px;
    border: 1px solid var(--bg2);
    position: absolute;
    z-index: 30;
    margin-left: -10px;
    margin-top: 0px;
    border-radius: 10px;
}

.SOB_prestop2 {
    display: flex;
    height: 110px;
    width: 550px;
    border-radius: 4px;
    margin-right: 20px;
    background: var(--bg2);
    justify-content: center;
    color: var(--text2);
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.SOB_prestop2 span {
    display: flex;
    margin-right: 1px;
    margin-bottom: 1px;
    font-family: var(--font3);
    height: 46px;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
}

.SOB_prestop2 spt {
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--font3);
    font-size: 10px;
    display: flex;
    align-items: center;
}

.SOB_prestop2 spt:before {
    content: '\e9e4';
    font-size: 5px;
    margin-right: 4px;
    line-height: 10px;
    font-family: cappuccicons;
}

.SOB_presmid img {
    width: 220px;
    height: 320px;
    border-radius: 4px;
    margin: 10px 0px 10px 10px;
    object-fit: cover;
}
#SOB_presblcimg1{
    transition:1s;
    margin:10px!important;
}
info{
    background:var(--bg3);
    display:block;
    padding:4px 10px;
    margin-bottom:5px;
    border-radius:4px;
}
.SOB_presblc img{
    margin:0px!important;
}
.SOB_presblc:hover #SOB_presblcimg1{
    width:100px;
    transition:1s;
}
.SOB_presbot {
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.SOB_presbot img{
    width:fit-content;
    height:fit-content;
}
.SOB_presbot span {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 0px 0px;
    text-align: center;
    color: var(--text2);
    font-family: var(--font3);
}

.SOB_presbot spt {
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    font-size: 14px;
    font-family: var(--font2);
    justify-content: center;
}

.SOB_img1 {
    filter: grayscale(1) brightness(0.5);
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 8px;
    transition: 1s;
}
.SOB_img2 {
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin: 8px;
    transition: 1s;
}
/*----- MESSAGE PV -----*/
.LIMP_nav {
    display: flex;
    argin: auto;
    justify-content: space-around;
    margin: 50px 0px;
}

.LIMP_nav a {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-size: 10px;
    background: -webkit-linear-gradient(45deg, var(--color1), var(--color2));
    padding: 5px 20px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
}

.MP_bloc {
    display: flex;
    background: var(--bg2);
    border-radius: 4px;
    backdrop-filter: blur(4px)
}

.MP_avatar {
    margin: 20px;
}

.MP_avatar img {
    border-radius: 4px;
    outline: 1px solid var(--bg2);
    outline-offset: 5px;
}

.MP_buttons {
    width: fit-content;
    padding: 5px 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: var(--size3);
    font-weight: 900;
    background: var(--bg3);
    margin-top: 15px;
    position: relative;
    left: 565px;
}
.MP_buttons a{
    color:var(--purewhite):
}
.MP_head {
    width: 760px;
    font-size: var(--size3);
    border-bottom: 1px solid var(--bg3)
}

.MP_heure {
    font-style: italic
}

.MESS_links {
    text-transform: uppercase;
    font-size: var(--size4);
    font-weight: 900;
    background: var(--bg2);
    width: fit-content;
    padding: 0px 4px;
    margin: 10px 0px;
}

.MP_box {
    font-size: var(--size3);
    margin-top: 10px;
}

#SOB_pvwrapped {
    background: var(--transp2);
    width: 1020px;
    border-radius: 4px;
    padding: 0px 0px 4px 0px;
    backdrop-filter: blur(4px);
}

#SOB_pvtitre {
    border-radius: 4px 4px 0px 0px;
    background: -webkit-linear-gradient(45deg, var(--color1), var(--color2));
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 0px;
}

#SOB_pvpanel {
    background: var(--bg2);
    padding: 10px;
    margin: 10px 10px 5px 10px
}

#SOB_pvauthor {
    font-size: var(--size4);
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    top: 8px;
}

#SOB_pvcontent {
    text-align: justify;
    margin-top: 28px
}

/*----- BADGES -----*/
.pas_obtenue {
    height: 2em;
    padding: 7px;
    border-radius: 8px;
    margin: 5px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    background: var(--bg1);
    border: 1px var(--bg1) solid;
}

.obtenue {
    height: 2em;
    padding: 7px;
    border-radius: 5px;
    margin: 5px;
    background: var(--bg3);
}

/*-- camera details --*/
.camera {
    position: fixed;
    height: 10%;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}

.battery {
    position: absolute;
    top: 40px!important;
    left: 80px;
    width: 50px;
    height: 23px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
}

.battery:after {
    content: ' ';
    background: white;
    width: 5px;
    height: 21px;
    position: absolute;
    right: -10px;
    border-radius: 0px 2px 2px 0px;
    top: -1px;
}

.juice {
    background: red;
    width: 15%;
    height: 100%;
    animation: blinky 1s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes blinky {
    0% {
        background: transparent;
    }

    49% {
        background: transparent;
    }

    50% {
        background: red;
    }
}

.rec {
    z-index: 9;
    font-family: var(--font1);
    position: fixed;
    right: 80px;
    top: 80px;
    color: #fff;
    font-size: 20px;
}

.rec span span {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
    animation: blinky 1s ease-in-out infinite;
}

.post.bgAdministrateur .post_profile {
    background: pink;
    display: none;
}

.post.bgAdministrateur .post_message {
    width: 980px;
}

.post.bgAdministrateur .SOB_post {
    width: 880px;
    outline: 1px solid var(--bg3);
    outline-offset: 10px;
}

/*-- CHRONOLOGIE CONTEXTE --*/
.SOB_contextchrono{display: grid;grid-template: 1fr/auto 1fr;grid-gap: 15px 0px;}
.SOB_contextchronodate{grid-column: 1;display: flex;flex-direction: column;margin-right: 15px;padding: 23px 8px 8px 8px;}
.SOB_contextchronotext{overflow: auto;height: 80px;background:var(--bg3);padding:10px;border-radius: 4px;}
SOBccmois{font-size: 12px;line-height:12px;font-family: var(--font3);font-style:italic; text-align: center;}
SOBccannee{font-family: var(--font3);font-weight:900;text-transform:uppercase;font-size: 14px;text-align: center;}
SOBccannee:after{display: block;width: 1%;height: 100%;background-color:var(--color2);margin: 10px auto;content: " ";}

/*-- ANNEXE ORGANISATIONS --*/

.SOB_org{
  margin:auto;
  background:var(--bg2);
  font-family:var(--font3);
  color:var(--text2);
  width:880px;
  outline: 1px solid var(--bg3);
  outline-offset: 10px;
  border-radius:4px;
}
.SOB_orgtitre{
  text-align:center;
  font-size:32px;
  position:relative;
  top:80px;
  z-index:2;
    text-transform:lowercase;
  font-family:var(--font2);
  color: #fff;
      background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
  width:fit-content;
  padding: 0px 20px;
  outline: 1px solid var(--color2);
  outline-offset: 10px;
  margin:auto;
  transition:1s;
}

.SOB_orgimg{
  text-align:center;
  position:relative;
  z-index:1;
  top:-45px;
  margin-bottom:-50px;
}
.SOB_orgimg img{
  width:880px;
  height:200px;
  opacity:.3;
  object-fit:cover;
  border-radius:4px;
  filter: contrast(1.5) grayscale(1);
}
.SOB_orgtop{
  display:flex;
  flex-wrap:wrap;
}
.SOB_orgtopg{
margin-top:5px;
display: grid;
grid-gap: 5px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr auto;
}
.SOB_orgst{
  font-family: var(--font3);
  display: flex;
  background: var(--bg3);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color2);
  font-size: 14px;
  text-align: right;
  padding: 6px 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.SOB_orgst div{
  font-family:var(--font3);
  color: var(--text2);
  font-size:14px;
  font-weight: normal;
  text-transform: lowercase;
}
.SOB_orgtopd{
  padding:20px 50px;
  text-align:justify;
  background: var(--bg3);
  width: 100%;
  margin-top: 5px;
}
.SOB_orgbotp{
  background:var(--bg3);
  margin-top:5px;
  padding:10px;
}
.SOB_orgbotg{
  background:var(--bg2);
  padding:10px;
  border-radius:10px;
}
.SOB_keywords{
    position:relative;
    z-index:9;
    top:-11px;
    text-align:center;
}
.SOB_keywords span{
    background:var(--bg2);
    z-index:9;
    margin:10px;
    padding:4px 20px;
    border-radius:40px;
    border:1px solid var(--color2);
    text-transform:uppercase;
    font-size:10px;
    font-weight:900;
}

/*-- FICHES RP --*/
.vw_bg{
    width:580px;
    padding:20px;
    margin:auto;
    background:var(--transp5);
    outline:1px solid var(--bg3);
    outline-offset:8px;
    color:var(--text2);
}
.vw_top1{
    text-align:right;
}
.vw_top1 span{
    background:var(--bg2);
    margin:0px 10px;
    padding:0px 10px;
    border-radius:4px;
}
.vw_top1 i{
    margin-right:10px;
        background: -webkit-linear-gradient(190deg, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vw_top2{
    text-align:left;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left:10px;
}
.vw_top2 i{
    background: -webkit-linear-gradient(45deg, var(--color1), var(--color2));
    color:#fff;
    padding:6px;
    border-radius:4px;
    margin-right:8px;
}
.vw_top3{
    display:flex;
    text-align:center;
    align-items: center;
    margin-top: 20px;
}
.vw_top3 img{
    border-radius:4px;
    height:80px;
    width:80px;
    object-fit:cover;

    margin-left:10px;
}
.vw_img img{
    display:block;
     margin-left:20px;
    margin-right:20px;
    width:30px;
    height:30px;
    object-fit:cover;
}
.vw_top3 span{
    display:grid;
    margin-left:50px;
}
vwt{
    font-family:var(--font2);
}
vwst{text-transform:uppercase;
    font-size:12px;
    font-weight:900;
     font-family:var(--font6);
}
vwst2{
    width:520px;
    text-align:justify;
    text-transform:uppercase;
    font-size:10px;
}
.vw_middle{
    margin-top:10px;
    text-align:justify;
    padding:10px;
}
.vw_middle dial{
    font-family:var(--font6);
    font-weight:500;
    font-size:16px;
    font-style:italic;
}
.vw_credits{
        background: -webkit-linear-gradient(190deg, var(--color1), var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0.05;
    text-transform:uppercase;
    font-size:10px;
    font-weight:900;
    display:block;
    text-align:center;
    transition:1s;
    margin-top:15px;
}
.container:hover .vw_credits{
    opacity:1;
    transition:1s
}
